*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
header{
    background-color: #1c1c54;
}
.logo{
    background-image: url(./logomarsStudio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height:100px;
}
nav{
    background-color: #1c1c54;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    color: yellow;
}
.container{
    width: 80vw;
    margin: 0px auto;

}

.mars-heuro{
    background: linear-gradient(140.34deg, #390147 34.23%, #240572 159.33%);
    display: flex;
}
.mars-usp{
    width: 50%;
}

.heuro-img{
    background-image: url(./hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
 width: 50%;
 height: 300px;
 
} 


