*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
header{
    background-color: #1c1c54;
}
.logo{
    background-image: url(./logomarsStudio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height:100px;
}
nav{
    background-color: #1c1c54;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li {
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 24px;
    color: #fbdd32;
}
.container{
    width: 80vw;
    margin: 0px auto;

}

.mars-heuro {
    background: linear-gradient(140.34deg, #390147 34.23%, #240572 159.33%);
    width: 100%;
    padding-top: 100px;
 
}
.mars-heuro .container{
    display: flex;
    justify-content: space-between;
}

.heuro-usp h4,h1,p{
  
   color: white;
}
.heuro-usp h4{
    font-size: 18px;
    margin-bottom: 4px;
}
.heuro-usp h1{
   
    margin-bottom: 22px;
}

.heuro-usp p{
    font-size: 16px;
    margin-bottom: 32px;
}

.heuro-img{
    background-image: url(./hero.img@2x.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
 width: 50%;
 height: 300px;
 
} 


.heuro-usp a  {
   
    border-radius: 24px;
    color:black;
    padding: 12px 8px;
    /* font-weight: bolder; */
    font-size: 18px;
    background-color: #fbdd32;
    /* margin-top: 16px; */
    text-decoration: none;

}

.reseau{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.reseau-sociaux{
    display: flex;
    align-items: center;
    gap: 10px;
}
.facebook {
    display: flex;
    align-items: center;
}
.wazap {
    display: flex;
    align-items: center;
}
.mail {
    display: flex;
    align-items: center;
}
.footer a{
    text-decoration: none;
    color: black;
}